body {
  margin: 0;
}

#header{
  background: blue;
  color: #fff;
  padding: 30px;
  text-align: center;

}
#footer{
  height: 200px;
  background: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}
#myhome{
  min-height: 500px;
  margin: auto;
  width: 80%;
  text-align: center;
  color: red;
  font-size: 40px;
  padding-top: 50px;
}
.container{
  min-height: 500px;
}
